<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-title class="ion-padding">
      <ion-row class="ion-padding">
        <ion-col class="ion-padding">
          <div class="sabc-news-logo">
            <img src="/assets/sabc-news-logo.svg" />
          </div>
          <div class="sabc-independant-impartial ion-float-right">
            <img src="/assets/img-independent-impartial-logo.jpg" />
          </div>
        </ion-col>
        <ion-col> </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
