.star-outline {
  color: white !important;
}

.read-buttons {
  padding: 1rem 0.8rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  border-radius: 8px;
  display: block;
}

#stop-read {
  display: none;
}

ion-fab-button img {
  width: 0.7rem;
  height: 0.7rem;
}
