<ion-header>
  <ion-toolbar>
    <ion-title>Stop Reading!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button>Stop</button>
  <h3>Aut neque voluptatem 33 atque natus a voluptate illum qui voluptatem doloribus sit quia totam! Ut nihil voluptate quo iure asperiores hic tempora dolores. Sit voluptas fugit sit facere deserunt et sequi distinctio qui dolore rerum ut possimus magni. Et natus esse ut voluptatem minima ea autem ipsum a debitis dignissimos cum tempore nemo qui dicta sunt et repellendus quia.</h3>
</ion-content>
